<!--Include map for public classes from Sigmath-->
<porter>
  <import config="attr_lambda_should_capture_by_reference.config" />
  <includes>
    <class name="Sigmath::ArithmeticProgression" file="include/calculus/ap.h" />
    <class name="Sigmath::Basic" file="include/computing/basic.h" />
    <class name="Sigmath::Calculus" file="include/calculus/calculus.h" />
    <class name="Sigmath::Calculus::RiemannSumType" file="include/calculus/calculus.h" />
    <class name="Sigmath::Civil" file="include/engineering/civil.h" />
    <class name="Sigmath::Compl" file="include/computing/complex.h" />
    <class name="Sigmath::Compl::Complex" file="include/computing/complex.h" />
    <class name="Sigmath::Computing" file="include/computing/computing.h" />
    <class name="Sigmath::Constants" file="include/imp/constants.h" />
    <class name="Sigmath::Electrical" file="include/engineering/electrical.h" />
    <class name="Sigmath::Equations" file="include/calculus/equations.h" />
    <class name="Sigmath::Equations::BinomialTheorem" file="include/calculus/equations.h" />
    <class name="Sigmath::Equations::Differentiation" file="include/calculus/equations.h" />
    <class name="Sigmath::Equations::HyperbolicEquation" file="include/calculus/equations.h" />
    <class name="Sigmath::Equations::PowerEquation" file="include/calculus/equations.h" />
    <class name="Sigmath::Equif" file="include/imp/equify.h" />
    <class name="Sigmath::Geometry" file="include/imp/geometry.h" />
    <class name="Sigmath::Hyperbolic" file="include/trig/hyperbolic.h" />
    <class name="Sigmath::Kinematics" file="include/engineering/kinematics.h" />
    <class name="Sigmath::Logarithm" file="include/imp/logarithm.h" />
    <class name="Sigmath::Matrix" file="include/calculus/matrix.h" />
    <class name="Sigmath::Nums" file="include/computing/nums.h" />
    <class name="Sigmath::Polynomial" file="include/imp/polynomial.h" />
    <class name="Sigmath::PolynomialExtensions" file="include/imp/polynomial.h" />
    <class name="Sigmath::Rand" file="include/imp/random.h" />
    <class name="Sigmath::Random" file="include/imp/random.h" />
    <class name="Sigmath::Sets" file="include/computing/sets.h" />
    <class name="Sigmath::Statgorithm" file="include/statistics/algorithms.h" />
    <class name="Sigmath::Statistics" file="include/statistics/stats.h" />
    <class name="Sigmath::Time" file="include/imp/time.h" />
    <class name="Sigmath::Trig" file="include/trig/const.h" />
  </includes>
  <auto_obfuscatable_public_types>
    <class name="System.Object" obfuscatable="True" />
  </auto_obfuscatable_public_types>
  <auto_obfuscatable_public_types>
    <class name="System.Object" obfuscatable="True" />
  </auto_obfuscatable_public_types>
</porter>