<!--Include map for internal classes from Sigmath-->
<porter>
  <import config="attr_lambda_should_capture_by_reference.config" />
  <includes>
    <class name="Sigmath::ExpressionParser" file="source/imp/ExpressionParser.h" />
    <class name="Sigmath::Mechanical" file="source/engineering/mechanical.h" />
  </includes>
  <auto_obfuscatable_public_types>
    <class name="System.Object" obfuscatable="True" />
  </auto_obfuscatable_public_types>
  <auto_obfuscatable_public_types>
    <class name="System.Object" obfuscatable="True" />
  </auto_obfuscatable_public_types>
</porter>